@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);@keyframes girlanim{0%{left:80%;}
30%{left:80%;}
100%{left:50%;}
}
@keyframes macanim{0%{top:110px;left:9%;}
50%{top:110px;left:9%;}
100%{top:0;left:50%;}
}
@keyframes macanim2{0%{left:9%;}
50%{left:9%;}
100%{left:50%;}
}
@keyframes tabletanim{0%{opacity:0;background-size:20%;}
20%{opacity:0;background-size:20%;}
100%{opacity:1;background-size:100%;}
}
@keyframes tabletanim2{0%{left:90%}
20%{left:90%}
100%{left:50%}
}
@keyframes websiteanim{0%{transform:rotate(0) scale(1) translateY(0);}
25%{transform:rotate(10deg) scale(1) translateY(-15px);}
50%{transform:rotate(0) scale(1) translateY(-30px);}
75%{transform:rotate(-10deg) scale(1) translateY(-15px);}
100%{transform:rotate(0) scale(1) translateY(0);}
}
@keyframes desantanim1{0%{top:-605px;}
50%{top:-605px;}
100%{top:0;}
}
@keyframes desantanim2{0%{top:-605px;}
60%{top:-605px;}
100%{top:0;}
}
@keyframes desantanim3{0%{top:-605px;}
70%{top:-605px;}
100%{top:0;}
}
*, *::before, *::after { box-sizing: content-box; }
.navigation-wrap * { box-sizing: border-box; }
body{margin:0;font-size:14px;font-family:sans-serif}
::selection{color:#fff;background:#777;}
.clearfix::before,
.clearfix::after,
.jrow::before,
.jrow::after{display:table;content:" ";}
.clearfix::after,
.jrow::after{clear:both;}
.w1170{margin:auto;padding:1px 0;box-sizing:border-box;}
.logo{width:290px;height:120px;padding:1px;background:url(../images/koeln-webstudio-logo-2020.png) center no-repeat;margin:-2px auto -122px;}
.logo h2,
.logo h3{color:#fff;text-shadow:0 1px 3px #000;text-align:center;font-size:36px;text-transform:uppercase;display:none;}
.logo h2{margin:0;letter-spacing:5px;padding-left:4px;}
.logo h3{font-weight:normal;margin:0;}
.kw-menu{box-shadow:0 1px 5px rgba(0,0,0,0.2);position:fixed;z-index:1111;width:100%;top:0;background-color:rgba(255, 255, 255, 0.8);transition:all .3s linear;    left: 50%;
    transform: translateX(-50%);}
.kw-menu:hover{background-color:rgba(255, 255, 255, 1);}
.kw-menu ul{margin:0;padding:0;list-style:none;width:440px;}
.kw-menu .naviLeft,
.kw-menu .naviLeft li{float:left;}
.kw-menu .naviRight,
.kw-menu .naviRight li{float:right;}
.kw-menu ul li{width:33%;}
.kw-menu ul li.active{background:url(../images/menu-active.png) center center no-repeat;font-weight:bold; background-position: center 27px;}
.kw-menu ul li.active a{color:#66A3D9;}
.kw-menu ul li a{height:18px;}
.kw-menu ul li button,
.kw-menu ul li a{padding:34px 0;display:block;width:100%;text-align:center;text-transform:uppercase;color:#333;text-decoration:none;background:url(../images/menu-hover.png) center 87px no-repeat;transition:all 0.2s;margin:-1px 0;}
.kw-menu ul li a:hover{background:url(../images/menu-hover.png) center 76px no-repeat;color:#66A3D9;}
.kw-menu ul li button.goorder{cursor:pointer;color:#fff;font-size:20px;background:#66A3D9;padding:10px 9px;margin:26px 0 0 0;border:none;font-weight:bold;font-family:'PT Sans';}
.kw-menu ul li button.goorder:hover{transform:scale(1.1);}
.slider{height:715px;position:relative;background:#f3f3f3;margin-bottom:-100px;padding-top:86px;background:url(../images/arrow-down.png) center bottom no-repeat;}
.slider .w1170{position:relative;height:100%;overflow:hidden;}
.slider .arrow-down{background:url(../images/arrow-down-1170.png) center bottom no-repeat;height:565px;width:1170px;position:absolute;top:150px;margin-left:-585px;left:50%;}
.slider .arrow-up{background:url(../images/arrow-up.png) center bottom no-repeat;height:715px;width:100%;position:absolute;top:0;}
.slider .girl{background:url(../images/Girl.png) no-repeat;height:250px;width:212px;position:absolute;top:0;left:50%;margin:29px 0 0 228px;animation:girlanim 3s ease-out;}
.slider .entwick{background:url(../images/Entwick.png) left top no-repeat;width:370px;height:240px;position:absolute;top:0;left:50%;margin:50px 0 0 -308px;animation:desantanim3 4s cubic-bezier(.19,.22,.32,1.23);background-size:100%;transition:all .5s linear;}
.slider .entwick .forhover{width:370px;height:240px;position:absolute;top:0;left:0;z-index:10;}
.slider .marketing{background:url(../images/Marketing.png) left top no-repeat;width:530px;height:213px;position:absolute;top:0;left:50%;margin:151px 0 0 -59px;animation:desantanim2 4s cubic-bezier(.19,.22,.32,1.23);background-size:100%;transition:all .5s linear;}
.slider .marketing .forhover{width:530px;height:213px;position:absolute;top:0;left:0;z-index:10;}
.slider .macbook{background:url(../images/Macbook.png) no-repeat;width:692px;height:356px;position:absolute;top:0;left:50%;margin:129px 0 0 -727px;animation:macanim2 3s ease-out;}
.slider .design{background:url(../images/Design.png) left top no-repeat;width:424px;height:219px;position:absolute;top:0;left:50%;margin:301px 0 0 -300px;animation:desantanim1 4s cubic-bezier(.19,.22,.32,1.23);background-size:100%;transition:all .5s linear;}
.slider .design .forhover{width:424px;height:219px;position:absolute;top:0;left:0;z-index:10;}
.slider .tablet{background:url(../images/tablet.png) right bottom no-repeat;width:375px;height:211px;position:absolute;top:0;left:50%;margin:331px 0 0 59px;animation:tabletanim2 2s ease-out;}
.slider .website{text-transform:uppercase;font-size:74px;width:340px;height:160px;position:absolute;bottom:45px;left:50%;margin:0 0 0 -170px;color:#7c7c7c;font-weight:bold;text-align:center;}
.slider .website .orderbutton{color:#fff;text-decoration:none;font-family:'PT Sans';font-weight:bold;text-transform:uppercase;font-size:40px;background:#66A3D9;padding:7px 55px;margin:0 auto;display:block;border:none;cursor:pointer;animation:websiteanim 1s linear 4s;transition:all 0.2s linear;}
.slider .website .orderbutton:hover{transform:scale(1.1);}
.slider .website .orderbutton:active{margin:1px 22px -1px;}
.slider .popup{position:absolute;box-shadow:-3px 3px 3px rgba(0, 0, 0, 0.21);width:370px;z-index:20;opacity:0;transition:all .5s linear;}
.slider .entwick .forhover:hover .popup,
.slider .marketing .forhover:hover .popup,
.slider .design .forhover:hover .popup{opacity:1;}
.slider .entwick:hover,
.slider .marketing:hover,
.slider .design:hover{z-index:99;height:275px;}
.slider .entwick:hover{width:407px;}
.slider .marketing:hover{width:583px;}
.slider .design:hover{width:466px;}
.slider .popup p{margin:20px 0 0 0;padding:10px;color:#fff;text-align:justify;}
.slider .entwick .popup{background:url(../images/popup-E.png) left top no-repeat;top:157px;left:86px;}
.slider .entwick .popup p{background-color:#66A3D9;}
.slider .marketing .popup{background:url(../images/popup-M.png) left top no-repeat;top:111px;left:253px;}
.slider .marketing .popup p{background-color:#6DA99F;}
.slider .design .popup{background:url(../images/popup-D.png) left top no-repeat;top:128px;left:215px;}
.slider .design .popup p{background-color:#B24E59;}
.vorteile{background:#f3f3f3;padding:1px;margin-top:3px;text-align:center;padding-top:100px;padding-bottom:90px;}
.vorteile .strip{height:3px;background-color:#fff;}
.vorteile .stripinner{width:350px;background-color:#F3F3F3;margin:-1px auto;height:3px;}
.vorteile .clearfix h3{text-transform:uppercase;color:#7c7c7c;font-size:18px;}
.vorteile .w1170>h2{color:#a1a1a1;text-align:center;text-transform:uppercase;}
.vorteile .w1170>h3{display:inline-block;padding:10px 20px;background-color:#fff;position:relative;font-weight:normal;margin:0;margin-bottom:50px;}
.vorteile .w1170>h3::after{content:'';display:block;position:absolute;top:100%;left:50%;margin-left:-20px;border:20px solid transparent;border-top-color:#fff;}
.vorteile .vort1,
.vorteile .vort2,
.vorteile .vort3{padding:189px 10px 0 10px;box-sizing:border-box;}
.vorteile .vort1 p,
.vorteile .vort2 p,
.vorteile .vort3 p{text-align:justify;}
.vorteile .vort1.lazy-loaded{background:url(../images/vorteile-1.png) center top no-repeat;}
.vorteile .vort2.lazy-loaded{background:url(../images/vorteile-2.png) center top no-repeat;}
.vorteile .vort3.lazy-loaded{background:url(../images/vorteile-3.png) center top no-repeat;}
.services{}
.services .w1170{text-align:center;padding-top:180px;background:url(../images/table-triangle.png) center top no-repeat;}
.services .w1170>h2{margin-top:-20px;text-align:center;text-transform:uppercase;color:#bbbbbb;}
.services .w1170>h3{display:inline-block;padding:10px 20px;background-color:#F3F3F3;position:relative;font-weight:normal;margin:0;margin-bottom:50px;}
.services .w1170>h3::after{content:'';display:block;position:absolute;top:100%;left:50%;margin-left:-20px;border:20px solid transparent;border-top-color:#F3F3F3;}
.services .jrow{margin-bottom:5px;max-width:1130px;transition:all .1s linear;}
.services .jrow:nth-of-type(n+2):hover{box-shadow:0 0 10px rgba(0, 0, 0, 0.5);}
.services .jrow:last-child:hover{box-shadow:none;}
.services .jcol{float:left;box-sizing:border-box;height:40px;width:160px;margin-right:35px;background:#f3f3f3;}
.services .jcol:last-child{margin-right:0;}
.services .jcol.dnone{visibility:hidden;}
.services .jcol.bestellen{color:#fff;font-weight:bold;font-size:18px;height:50px;line-height:50px;text-transform:uppercase;cursor:pointer;transition:all .2s linear;user-select:none;}
.services .jcol.bestellen:hover{transform:scale(1.15);}
.services .firstrow{color:#fff;}
.services .firstrow .jcol{height:82px;line-height:25px;font-size:18px;padding-top:14px;position:relative;cursor:default;}
.services .firstrow .jcol::after{content:'';display:block;position:absolute;width:0;top:100%;left:50%;margin-left:-15px;border:15px solid transparent;}
.services .jrow:last-child .jcol:nth-child(2),
.services .firstrow .jcol:nth-child(2),
.services .firstrow .jcol:nth-child(2) .popover,
.k-slider .slide1 .s-head,
.slide.slide1 .bestellen{background:#7c7c7c;}
.services .jrow:last-child .jcol:nth-child(3),
.services .firstrow .jcol:nth-child(3),
.services .firstrow .jcol:nth-child(3) .popover,
.k-slider .slide2 .s-head,
.slide.slide2 .bestellen{background:#66a3d9;}
.services .jrow:last-child .jcol:nth-child(4),
.services .firstrow .jcol:nth-child(4),
.services .firstrow .jcol:nth-child(4) .popover,
.k-slider .slide3 .s-head,
.slide.slide3 .bestellen{background:#6da99f;}
.services .jrow:last-child .jcol:nth-child(5),
.services .firstrow .jcol:nth-child(5),
.services .firstrow .jcol:nth-child(5) .popover,
.k-slider .slide4 .s-head,
.slide.slide4 .bestellen{background:#b24e59;}
.services .firstrow .jcol .popover{position:absolute;width:529px;font-size:14px;bottom:120%;right:0;visibility:hidden;line-height:18px;padding:0 8px;text-align:justify;opacity:0;transition:all .3s ease-in-out;}
.services .firstrow .jcol:hover .popover{visibility:visible;opacity:1;}
.services .firstrow .jcol .popover::after{content:'';display:block;position:absolute;width:0;top:100%;right:40px;border:15px solid transparent;}
.services .firstrow .jcol .popover ul{padding-left:30px;list-style-type:square;}
.services .jcol.firstcol,
.t-item{width:350px;position:relative;color:#7c7c7c;line-height:40px;text-align:left;padding-left:20px;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;transition:all .1s linear;}
.services .jcol.firstcol:hover{overflow:visible;}
.services .jcol.firstcol .pay-clip{height:40px;position:absolute;left:0;bottom:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0 20px;width:100%;font-weight:bold;box-sizing:border-box;transition:all .1s linear;}
.services .jcol.firstcol .pay-clip::after{content:'';display:block;position:absolute;right:4px;top:7px;width:10px;height:2px;background-color:#6DA99F;box-shadow:0 3px 0 #6DA99F, 0 -3px 0 #6DA99F;}
.services .jcol.firstcol:hover .pay-clip{border:1px solid #999;background:#6da99f;padding:0 10px;height:85px;width:100%;white-space:pre-line;box-shadow:0 0 10px rgba(0, 0, 0, 0.5);line-height:28px;}
.services .jcol.firstcol h2,
.t-item h2{margin:0;color:#4FB8A6;overflow:hidden;text-overflow:ellipsis;}
.services .jcol.firstcol h2:hover,
.t-item h2:hover{color:#fff;}
.services .jcol.firstcol:hover,
.small-wrapper .table-left .t-item:hover{background:#6da99f;color:#fff;}
.services .jcol.firstcol.fcolheader,
.t-head-0{font-weight:bold;font-size:24px;line-height:82px;margin-bottom:16px;padding-top:0;}
.services .jcol s,
.services .jcol i,
.services .jcol u,
.slide .s-item s,
.slide .s-item u,
.slide .s-item i{display:inline-block;width:40px;height:40px;line-height:40px;font-weight:bold;text-decoration:none;color:#7C7C7C;font-size:18px;text-shadow:0 1px 0 rgba(0, 0, 0, 0.75);position:relative;cursor:default;}
.services .jrow:nth-of-type(n+2):hover u::after{content:'optional';display:block;position:absolute;top:0px;left:-10px;background-color:#F3F3F3;}
.services .jcol:nth-child(2) s,
.k-slider .slide1 s{background:url(../images/mark-sprite.png) left -6px no-repeat;}
.services .jcol:nth-child(3) s,
.k-slider .slide2 s{background:url(../images/mark-sprite.png) left -51px no-repeat;}
.services .jcol:nth-child(4) s,
.k-slider .slide3 s{background:url(../images/mark-sprite.png) left -95px no-repeat;}
.services .jcol:nth-child(5) s,
.k-slider .slide4 s{background:url(../images/mark-sprite.png) left -135px no-repeat;}
.services .jcol:nth-child(2) i,
.k-slider .slide1 i{background:url(../images/mark-sprite.png) right -6px no-repeat;}
.services .jcol:nth-child(3) i,
.k-slider .slide2 i{background:url(../images/mark-sprite.png) right -51px no-repeat;}
.services .jcol:nth-child(4) i,
.k-slider .slide3 i{background:url(../images/mark-sprite.png) 108% -95px no-repeat;}
.services .jcol:nth-child(5) i,
.k-slider .slide4 i{background:url(../images/mark-sprite.png) right -135px no-repeat;}
.services .jcol:nth-child(2) u,
.k-slider .slide1 u{color:#7C7C7C;}
.services .jcol:nth-child(3) u,
.k-slider .slide2 u{color:#66A3D9;}
.services .jcol:nth-child(4) u,
.k-slider .slide3 u{color:#6DA99F;}
.services .jcol:nth-child(5) u,
.k-slider .slide4 u{color:#B24E59;}
.services .jrow:last-child .jcol{}
.marketingblock{padding:1px;z-index:10;position:relative;background-size: cover;}
.marketingblock.lazy-loaded{background:url(../images/marketing-bg.png) center top no-repeat;}
.marketingblock .w1170{position:relative;text-align:center;/* background:url(../images/marketing-bg-1170.png) center top no-repeat; */min-height:777px;}
.marketingblock .w1170>h3{display:inline-block;padding:10px 20px;background-color:#fff;position:relative;font-weight:normal;margin:0;margin-bottom:50px;}
.marketingblock .w1170>h3::after{content:'';display:block;position:absolute;top:100%;left:50%;margin-left:-20px;border:20px solid transparent;border-top-color:#fff;}
.marketingblock .w1170>h2{margin-top:127px;text-align:center;text-transform:uppercase;color:#bbbbbb;}
.marketingblock .nav{margin:0;padding:0;list-style:none;text-align:center;}
.marketingblock .nav>li{width:20%;display:inline-block;position:relative;}
.marketingblock .nav>li.active::before{content:'';position:absolute;top:100%;display:block;background:#66a3d9;height:4px;width:100%;}
.marketingblock .nav>li.active:nth-of-type(1)::before{background:#66a3d9;}
.marketingblock .nav>li.active:nth-of-type(2)::before{background:#6da99f;}
.marketingblock .nav>li.active:nth-of-type(3)::before{background:#b24e59;}
.marketingblock .nav>li.active:nth-of-type(4)::before{background:#b24e59;}
.marketingblock .nav>li.active::after{content:'';position:absolute;bottom:-28px;display:block;border:12px solid transparent;left:50%;margin-left:-12px;}
.marketingblock .nav>li.active:nth-of-type(1)::after,
.services .firstrow .jcol:nth-child(3) .popover::after,
.services .firstrow .jcol:nth-child(3)::after{border-top-color:#66a3d9}
.marketingblock .nav>li.active:nth-of-type(2)::after,
.services .firstrow .jcol:nth-child(4) .popover::after,
.services .firstrow .jcol:nth-child(4)::after{border-top-color:#6da99f}
.marketingblock .nav>li.active:nth-of-type(3)::after,
.services .firstrow .jcol:nth-child(5) .popover::after,
.services .firstrow .jcol:nth-child(5)::after{border-top-color:#b24e59}
.marketingblock .nav>li.active:nth-of-type(4)::after,
.services .firstrow .jcol:nth-child(2) .popover::after,
.services .firstrow .jcol:nth-child(2)::after{border-top-color:#7c7c7c}
.marketingblock .nav>li>a{font-weight:bold;font-size:22px;text-decoration:none;display:block;position:relative;z-index:3;}
.marketingblock .nav>li>a:hover{text-decoration:underline;}
.marketingblock .nav>li.active>a:hover{text-decoration:none;}
.marketingblock .nav>li:nth-of-type(1)>a{color:#66a3d9;}
.marketingblock .nav>li:nth-of-type(2)>a{color:#6da99f;}
.marketingblock .nav>li:nth-of-type(3)>a{color:#b24e59;}
.marketingblock .nav>li:nth-of-type(4)>a{color:#b24e59;}
.marketingblock .tab-content>.tab-pane{display:none;}
.marketingblock .fade{opacity:0;transition:opacity .15s linear;}
.marketingblock .tab-content>.active{display:block;}
.marketingblock .fade.in{opacity:1;}
.marketingblock .nav>li:nth-of-type(3)>a::before{content:'';position:absolute;left:45%;bottom:64%;width:103px;height:67px;background:url(../images/star-sale.png) no-repeat;background-size:100%;z-index:1;}
.tab-content{max-width: 1001px;margin: 30px auto;text-align: justify;}
.contactblock{margin-top:-127px;position:relative;}
.contactblock.lazy-loaded{background:#7c7c7c url(../images/koln-map2.jpg) center 20px no-repeat fixed;}
.contactblock .contactform{float:left;width:50%;background-color:rgba(255, 255, 255, 0.9);padding:120px 60px;box-sizing:border-box;margin:-1px 0;}
.contactform .ruckkopplung{text-transform:uppercase;color:#80b0dd;font-weight:bold;font-size:18px;margin-bottom:15px;}
.contactblock .contactform>h3{color:#7c7c7c;text-transform:uppercase;font-size:20px;}
.contactform .forml{width:49%;float:left;}
.contactform .forml label{display:block;color:#7c7c7c;padding:8px 0 8px 50px;margin:7px;font-size:15px;height:40px;box-sizing:border-box;}
.contactform .forml label:nth-of-type(1){background:url(../images/tag-sprite.png) left 10px no-repeat;}
.contactform .forml label:nth-of-type(2){background:url(../images/tag-sprite.png) left -40px no-repeat;}
.contactform .forml label:nth-of-type(3){background:url(../images/tag-sprite.png) left -91px no-repeat;}
.contactform .forml label:nth-of-type(4){background:url(../images/tag-sprite.png) left -138px no-repeat;}
.contactform .formr{width:49%;float:right;}
.contactform .formr .inputs{width:100%;outline:none;border:1px solid #c7c7c7;padding:10px;margin:7px 0;display:block;box-sizing:border-box;}
.contactform .sbmt{background-color:#555;color:#fff;font-size:16px;text-transform:uppercase;font-weight:bold;cursor:pointer;}
.contactform textarea{resize:vertical;}

.form-group{margin-bottom:15px;}
@media (min-width:768px){.form-horizontal .control-label{padding-top:7px;margin-bottom:0;text-align:right;}
}
.form-group label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
.col-sm-10{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.form-control{box-sizing:border-box;display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:1.4;box-sizing:border-box;}
.tooltip.right{padding:0 5px;margin-left:3px;}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000;}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid;box-sizing:border-box;}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;border-radius:4px;box-sizing:border-box;}
.bx-wrapper{position:relative;margin:0 auto 60px;padding:0;*zoom:1;}
.bx-wrapper img{max-width:100%;display:block;}
.bx-wrapper .bx-viewport{border:5px solid #fff;background:#fff;height:initial!important;-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);box-sizing:border-box;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto{position:absolute;bottom:-18px;width:100%;}
.bx-wrapper .bx-loading{min-height:50px;background:url(../images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background:#000;}
.bx-wrapper .bx-prev{left:5px;}
.bx-wrapper .bx-next{right:5px;}
.bx-wrapper .bx-prev:hover{background-position:0 0;}
.bx-wrapper .bx-next:hover{background-position:-43px 0;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:-38px;outline:0;width:40%;line-height:38px;z-index:777;text-decoration:none;color:#fff;background-color:#7c7c7c;font-weight:bold;font-size:2em;text-align:center;transition:background-color 0.2s linear;}
.bx-wrapper .bx-controls-direction a.bgGrey{background-color:#7c7c7c;}
.bx-wrapper .bx-controls-direction a.bgBlue{background-color:#66a3d9;}
.bx-wrapper .bx-controls-direction a.bgGreen{background-color:#6da99f;}
.bx-wrapper .bx-controls-direction a.bgRed{background-color:#b24e59;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}
.bx-wrapper .bx-controls-auto{text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(../images/controls.png) -86px -11px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(../images/controls.png) -86px -44px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px;}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80, 80, 80, 0.75);width:100%;}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px;}
.small-wrapper{max-width:720px;margin:auto;}
.table-left{float:left;height:1368px;margin:45px 1% 0 0;border:5px solid #fff;width:60%;box-sizing:border-box;}
.table-left .t-item{color:#7c7c7c;background:#f3f3f3;margin-bottom:5px;height:40px;width:100%;box-sizing:border-box;}
.table-left .t-item:first-child{height:82px;margin-bottom:20px;}
.bx-wrapper{float:left;margin:45px 0 0 0;width:38%;}
.slide{}
.slide .s-item{height:40px;background:#f3f3f3;margin-bottom:5px;text-align:center;box-sizing:border-box;}
.slide .s-head{height:82px;line-height:25px;font-size:18px;padding-top:14px;position:relative;cursor:default;color:#fff;margin-bottom:20px;}
.slide .bestellen{color:#fff;font-weight:bold;font-size:18px;height:50px;line-height:50px;text-transform:uppercase;cursor:pointer;}
@media (max-width:1199px){.logo{width:263px;}
.kw-menu ul{width:350px;}
.slider .marketing{left:49%;background-size:530px;width:545px;}
.slider .marketing .popup{left:186px;}
.tab-content{width:750px;margin:30px auto;}
.marketingblock .nav>li{width:25%;}
.services .jcol.firstcol{width:300px;}
.services .jcol{width:142px;margin-right:25px;}
}
@media (max-width:991px){.kw-menu ul{width:33%;}
.kw-menu ul li{width:100%;}
.kw-menu ul li a{display:none;}
.kw-menu ul li a.homemenu{display:block;}
.kw-menu ul li a.homemenu{display:block;cursor:pointer;color:#fff;font-size:20px;background:#66A3D9;padding:10px 9px;margin:17px 0 0 0;border:none;font-weight:bold;font-family:'PT Sans';width:88%;height:initial;}
.kw-menu ul li button.goorder{margin:17px auto;width:90%;}
.slider{display:none;}
.slider .marketing .popup{left:176px;}
.slider .marketing{left:36%;animation:none;}
.slider .entwick{animation:none;}
.slider .design{left:45%;animation:none;}
.slider .popup{width:365px;}
.services .jcol.firstcol{width:248px;padding-left:10px;}
.services .jcol{width:124px;margin-right:1px;}
.contactblock .contactform{width:100%;}
.footer .copy{padding:0px;}
}
@media (max-width:767px){.container{}
.slider .w1170>div{background-size:80%;animation:none;}
.slider .entwick{margin:5px 0 0 -204px;}
.slider .marketing{margin:141px 0 0 -26px;}
.slider .design{margin:301px 0 0 -215px;}
.slider .entwick:hover,
.slider .marketing:hover,
.slider .design:hover{background-size:92%;}
.slider .girl{margin:12px 0 0 200px;}
.slider .macbook{margin:129px 0 0 -581px;}
.slider .tablet{margin:298px 0 0 -33px;}
.tab-content{width:96%;margin:25px auto;line-height:18px;}
.marketingblock .nav>li{width:30%;}
.kw-menu .logo{display: none;}
.kw-menu ul li a.homemenu{display:none;}
.kw-menu ul.naviLeft{display:none;}
.kw-menu ul{width:180px;}
.marketingblock .nav>li:nth-of-type(3)>a:after{left:7%;opacity:0.5;}
.jbody .jrow{display:none;}
.contactblock .contactform{padding:120px 3px;}
.naviRight{display:none;}
.kw-menu ul li.active{background:none;}
.marketingblock .nav>li>a{font-size:16px;}
.marketingblock .nav>li:nth-of-type(3)>a:before{left:18%;bottom:42%;}
.contactform .formr .inputs{width:95%;}
}
.row *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}


#aqsCookieNotice{
	font-size: 12px;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #ddd;
    color: #555;
}

#aqsCookieNotice .cn-message{
    max-width: 1100px;
    padding: 10px 0;
    margin: 0 auto;
}

#aqsCookieNotice .cn-text{
	text-align: center;
	    line-height: 34px;
}

#aqsCookieNotice .cn-text a{
    color: #3d648c;
}

#aqsCookieNotice .cn-btns{
	padding-left: 15px;
    min-width: 265px;
}

#aqsCookieNotice .cn-btns button,
#aqsCookieNotice .cn-btns a{
	display: inline-block;
    text-align: center;
    background-color: #3d648c;
    padding: 8px 16px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
}

#aqsCookieNotice .cn-revoke{
	display: inline-block;
    text-align: center;
    background-color: #3d648c;
    min-width: 120px;
    padding: 8px 16px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    margin: 2px 20px;
    opacity: 0.6;
}